node_modules
npm-debug.log
dist
.nyc_output
coverage
.cypress
cypress/videos
cypress/screenshots
.vscode
.idea
*.log
.DS_Store
.env
.env.local
.env.*.local
.npmrc
.git
.gitignore
README.md
Refactor.md
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
vitest.config.ts
cypress.config.ts